@import url('https://fonts.googleapis.com/css2?family=Anton&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

.button {
    background-color: #141414;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    
}

body {
    background-image: url('../images/image\ 1.png');
}

.menu{
    padding-top: 12rem;
}

.tudo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-color: aqua;

}

.principal{
    width: 75%;
    height: 100%;
    background-color: rgba(50, 50, 50, 0.8);
    
}

.carousel-inner h1 {
    color: rgb(10, 10, 10);
    font-family: "Anton", sans-serif;
    font-size: 5rem;
    -webkit-text-stroke-color: yellow;
    -webkit-text-stroke-width: 0.15rem;

}

.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


.conteudo h2{
    font-size: 3rem;
    font-family: 'Anton', sans-serif;
    color: aliceblue;
    text-align: center;
}

.conteudo p{
    margin-left: 4rem;
    margin-right: 4rem;
    font-size: 2rem;
    color: azure;
}

.força {
    text-align: center;
    padding: 1rem;
    font-family: "Anton", sans-serif;
}

.lightsabers{
    margin-top: 8rem;
}