{% extends 'base.html' %}

{% block title %} Jedis {% endblock %}

{% block content %}
<div class="conteudo">
    <h2>PRINCIPAIS JEDIS</h2>
    <div class="jedis">
        <div class="card mb-3" style="">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../static/images/luke.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Luke Skywalker</h3>
                        <p class="card-text"> Provavelmente o Jedi mais reconhecível e importante da saga. Ele é o filho de Anakin Skywalker (Darth Vader) e Leia Organa, e é treinado por Obi-Wan Kenobi e Yoda. Luke desempenha um papel crucial na derrota do Império Galáctico e na redenção de seu pai.</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="card mb-3" style="">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../static/images/Obi-Wan-Kenobi.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Obi-Wan Kenobi</h3>
                        <p class="card-text">Um dos Jedi mais respeitados e habilidosos de sua época. Ele treina Anakin Skywalker e depois seu filho, Luke. Obi-Wan desempenha um papel central na trilogia original como mentor de Luke e um dos líderes da resistência contra o Império.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../static/images/yoda.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Yoda</h3>
                        <p class="card-text">O lendário Mestre Jedi e um dos seres mais poderosos a já terem existido. Ele é o mestre de muitos Jedi, incluindo Count Dooku, Mace Windu e Luke Skywalker. Yoda é conhecido por sua sabedoria e habilidades na Força.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../static/images/anakin.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Anakin Skywalker (Darth Vader)</h3>
                        <p class="card-text">Embora ele eventualmente caia para o lado sombrio e se torne Darth Vader, Anakin é inicialmente um Jedi poderoso e habilidoso. Sua jornada de herói para vilão é uma das histórias mais marcantes de Star Wars.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../static/images/qui-gon jinn.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Qui-Gon Jinn</h3>
                        <p class="card-text">Um Jedi venerável e respeitado que serve como mentor de Obi-Wan Kenobi. Ele é conhecido por suas crenças únicas na Força e por desafiar as tradições Jedi estabelecidas.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../static/images/ahsoka.jpeg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Ahsoka Tano</h3>
                        <p class="card-text">Uma Padawan de Anakin Skywalker durante as Guerras Clônicas, Ahsoka se torna uma das personagens mais populares da franquia. Ela abandona a Ordem Jedi após ser injustamente acusada de um crime e continua sua jornada como uma força para o bem.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-3" style="">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="../static/images/rey.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title">Rey</h3>
                        <p class="card-text">A protagonista da trilogia sequela, Rey é uma jovem sensível à Força que descobre seu potencial como Jedi. Sua jornada a leva a confrontar o legado de seus predecessores e a ajudar a restaurar a esperança na galáxia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}